asgiref==3.6.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
chromedriver-binary==121.0.6167.85.0
chromedriver-binary-auto==0.3.1
chromedriver-py==121.0.6167.85
Django==3.0.4
idna==3.6
pytz==2022.7.1
requests==2.31.0
selenium==3.141.0
soupsieve==2.5
sqlparse==0.4.3
urllib3==2.2.0
